h1,
h2,
h3 {
    margin: auto;
}

.my-card-side-tab {
    border-radius: 0 10px 10px 0;
    text-align: left;
    margin-top: 3px;
    color: black;
    background-color: white;
}

.my-card-side-tab-container {
    padding-top: 8px;
}

.my-card {
    width: 300px;
    max-width: 300px;
    margin: 5px;
    visibility: inherit;
}

.my-card {
    height: 375px;
    border: 5px solid rgb(109, 29, 29);
    border-radius: 5px;
}

.my-card-img-spacer {
    height: 210px;
}

.my-card-text-container {
    background-color: rgb(109, 29, 29);
    opacity: .85;
    color: white;
    height: 120px;
}

.big-skull {
    font-size: 150px;
    color: rgb(109, 29, 29);
    opacity: .85;
}

span {
    padding: 5px;
}

#player-character-col {
    visibility: hidden;
}

#opponent-character-col {
    visibility: hidden;
}

#fight-controls {
    visibility: hidden;
}

#combat-log {
    padding-top: 100px;
    height: 250px;
    background-color: tan;
    margin-top: 50px;
    margin-bottom: 50px;
}

#win-text {
    font-size: 75px;
    color: darkgreen;
}

#lose-text {
    font-size: 75px;
    color: rgb(109, 29, 29);
}

#player-character-col {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
}

#opponent-character-col {
    background-color: rgb(109, 29, 29);
    color: white;
    border-radius: 5px;
}

#character-pool-col {
    background-color: tan;
    border-radius: 5px;
}

.my-card-title-text {
    color: black;
}